html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.escpos-app {
  padding: 1rem 3rem;
}

.escpos-app h1 {
  font-size: 2rem;
  font-weight: 300;
}

.escpos-app textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.escpos-app button {
  border: 0;
  padding: 0.4rem 1.4rem;
  font-size: 1.3rem;
  background: #333;
  color: #eee;
  border-radius: 8px;
}

.text-editor-actions {
  display: flex;
  justify-content: flex-end;
}
